/*Css de ejemplo*/
body{
	margin:0;
	padding:0;
}
#wrapper{
	width:98%;
	padding:1%;
	height:600px;
}
#commonTools{
	height:50px;
	background-color:#FF0000;
}
#drawTools{
	width:10%;
	height:550px;
	float:left;
	background-color:#01DF01;
}
#wrapperCenterArea{
	width:70%;
	float:left;
	height:550px;
}
#propertyTools{
	height:50px;
	background-color:#0080FF;
}
#wrapperWorkArea{
	width:96%;
	height:430px;
	background-color:#E6E6E6;
	padding:10px 2%;
}
#workArea{
	background-color:#D8D8D8;
	border:1px solid #000;
	height:430px;
	position: relative;
}
#timeLine{
	height:50px;
	background-color:#0489B1;
}
#controlTools{
	width:20%;
	height:550px;
	float:left;
	background-color:#F3F781;
}
/*Texto ejemplos*/
#move1{
	position:absolute;
	top: 12px;
	left: -1000px;
}
#move2{
	position:absolute;
	top: 72px;
	left: -2000px;
}
#move3{
	position:absolute;
	top: 136px;
	left: -3000px;
}
#workArea h2{
position: absolute;
top: 13px;
left: 80px;
margin: 0;
padding: 0;
font-size: 22px;
color: white;
}
#workArea h3{
position: absolute;
top: 7px;
left: 42px;
margin: 0;
padding: 0;
color: white;
font-size: 30px;
}
